<header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>



      <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <%= link_to "START STOCK" , root_path , class:"logo"%>

      <div class="top-menu">
        <ul class="nav pull-right top-menu">
        <% if user_signed_in? %>
          <li>
            <%= link_to 'ログアウト', destroy_user_session_path , method: :delete, class: "logout"  %>
          </li>
        <% else %>
          <li>
            <%= link_to 'ログイン', new_user_session_path, class: "logout" %>
          </li>
          <li>
            <%= link_to '新規登録', new_user_registration_path, class: "logout" %> 
          </li>
        <% end %>
        </ul>
      </div>
</header>